.navbar-toggler[aria-expanded="true"] > .navbar-toggler-icon,
.navbar-toggler[aria-expanded="false"] > .btn-close {
  display: none;
}

.header {
  background-color: rgba(224, 224, 224, 0.745);
  backdrop-filter: blur(4px);
}
